# vim: ft=yaml sw=2 expandtab

resources:
- name: {{ env['name'] }}
  type: iam.v1.serviceAcccount
  properties:
    accountId: {{ env['name'] }}
    displayName: {{ properties['displayName'] }}
- name: {{ env['name'] }}-key
  type: iam.v1.serviceAccounts.key
  properties:
    parent: $(ref.{{ env['name'] }}.name)

outputs:
  - name: link
    value: $(ref.{{ env['name'] }}.selfLink)
